body{
    font-family: 'Roboto Slab', serif;
    background-color: #6cf;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh auto;
}

header{
    /* position: absolute; */
    width: 100%;
    top:0;
    height: 100px;
}

main{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

footer{
    color: #000;
    width: 100%;
    text-align: center;
}

p.footer{
    color: #000;
}

.containerCards{
    background-color: #6cf;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.titreCard{
    font-size: 29px;
}

span.module{
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
}

.cardContent{
    width: 100%;
}

.img{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: 300px;
    width: 100%;
    object-fit:cover;
    
}

.container{
    height: 380px;
    width:100% ;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid #08038C;
    box-shadow: 0 0 8px 3px #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #08038C;
    margin: 20px;
}

.containerQuest{
display: flex;
justify-content: space-between;
align-items: center;
}

.question{
    padding: 20px;
    font-size: 22px;
    background: #08038C;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
    text-align: center;
    
}

/* .quest{
    margin-left:10px ;
} */

.option{
    width: 470px;
    display: flex;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin : 15px 0 15px 10px;
    color: #000000;
    border-radius: 20px;
}

.option:hover{
    background:#08038C;
    color: #f6f6f6;
}

.elementQuiz{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valid-btn{
    border: none;
    outline: none;
    background-color: rgb(14, 182, 14);
    width: 13%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
}

.valid-btn:hover{
    background-color: rgb(5, 83, 5);
}

.next-btn{
    border: none;
    outline: none;
    background:#08038cb4;
    width: 13%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.next-btn:hover{
    background: #08038C;
    color: #f6f6f6;
}
.score{
    background-color: #08038C;
    width: 13%;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;

}

.message{
    width: 55%;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color:"";
    font-size: 30px;
    font-weight: 600;

    
}

.messageIcon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    
}


.result{
    height: 150px;
    text-align: center;
    font-size: 75px;
    background-color: rgba(97, 45, 26, 0.488);
    color: #fff;
}

.option input:checked .option{
    background: #08038C;
    color: #000;
}

.current{
    width: 150px;
    height: 75px;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
}

#vrai{
    background-color: green;
}
@media screen and (max-width: 1200px) {

    .containerCards{
        background-color: #6cf;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }


    .containerQuest{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container{
        height: auto;
        
    }

    .messageIcon{
        display: none;
    }

    .next-btn{
        height: 50px;
        
    }

    .valid-btn{
        height: 50px;
        font-size: 20px;
        cursor: pointer;

    }

    .elementQuiz{
        height: 100px;
    }

    .card{
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
    }

}

@media screen and (max-width: 992px) {
    .elementQuiz{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        padding: 10px;
    }

    .message{
        width: 100%;
    }

    .score{

        width: 50%;
    
    }

    .valid-btn{
        width: 50%;
        height: 55px;
        font-size: 20px;
        cursor: pointer;

    }
    

    .next-btn{
        width: 50%;
        height: 55px;
        font-size: 20px;
    }

    .containerCards{
        background-color: #6cf;
        display: flex;
        width: 90%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card{
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
    }

    .card{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        
    }
}


@media screen and (max-width: 920px) {
body{
    margin: 0;
    padding: 0;
}

    .containerQuest{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container{
        height: auto;
        
    }

    .messageIcon{
        display: none;
    }

    .elementQuiz{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        padding: 10px;
    }

    .message{
        width: 100%;
    }

    .score{

        width: 50%;
    
    }

    .valid-btn{
        width: 50%;
        height: 55px;
        font-size: 20px;
        cursor: pointer;

    }
    

    .next-btn{
        width: 50%;
        height: 55px;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .elementQuiz{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 370px;
        padding: 10px;
    }
}

@media screen and (max-width: 514px) {

    .containerQuest{
        width: 100%;
    }

    label.option{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }

    input{
        font-size: 26px;
    }

    .next-btn{
        height: 60px;
    }

    .elementQuiz{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        padding: 10px;
    }

    .message{
        width: 100%;
        height: 120px;
    }

    span.opt{
        width: 100%;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grpOpt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}